@font-face {
  font-family: "Modern DOS 8x14";
  src: url("//db.onlinewebfonts.com/t/ba8df6cf703dfda0e0f920a1f62152f9.eot");
  src: url("//db.onlinewebfonts.com/t/ba8df6cf703dfda0e0f920a1f62152f9.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/ba8df6cf703dfda0e0f920a1f62152f9.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/ba8df6cf703dfda0e0f920a1f62152f9.woff") format("woff"), url("//db.onlinewebfonts.com/t/ba8df6cf703dfda0e0f920a1f62152f9.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/ba8df6cf703dfda0e0f920a1f62152f9.svg#Modern DOS 8x14") format("svg");
}

/* -------------------- Resets --------------------- */
body, form, fieldset, ol, ul, li, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

img {
  border: 0;
  vertical-align: bottom;
}

/* ------------------- Defaults ------------------- */
html {
  height: 100%;
  overflow: auto;
  overflow-y: scroll;
}

body {
  height: 100%;
  font-family: "Modern DOS 8x14";
  background: #000000;
  color: white;
}

/* ------------------ Typography ------------------- */
h1, h2, h3, h4, h5, h6, p {
  margin: 0 0 1em;
}

p, ul, ol {
  font-size: 1.3rem;
  color: #c7c7c7;
}

ul {
  margin: 0 0 1em 25px;
  list-style: none;
}

h1 {
  font-size: 3em;
  color: #ed1b24;
}

h2 {
  font-size: 2em;
  color: #ed1b24;
}

h3 {
  font-size: 1.8em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1.1em;
}

/* -------------------- Forms ---------------------- */
fieldset {
  border: none;
}

form :focus {
  outline: 0;
  /* removes Safari's blue border */
}

input, select, textarea {
  font-size: 1em;
  font-family: "Modern DOS 8x14";
}

label {
  cursor: pointer;
  vertical-align: middle;
}

input {
  vertical-align: middle;
}

textarea {
  overflow: auto;
  /* removes scrollbar from IE when none is needed */
}

/* -------------------- Layout --------------------- */
.bannerSection .container {
  padding: 12rem 5rem;
}

.about-section {
  padding: 120px 0px 0px;
}

img.abut-img {
  height: 45rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.aboutImg {
  padding-right: 35px;
}

#tsparticles canvas {
  width: 100% !important;
  height: 100vh;
  position: unset !important;
  z-index: 0 !important;
  top: 0px !important;
  left: 0px !important;
  pointer-events: none;
}

@media only screen and (max-width: 736px) {
  .about-section {
    padding: 120px 20px 0px;
  }
  .aboutImg {
    padding-right: 0px;
  }
}

.service-section {
  padding-top: 100px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 0.5fr 1fr;
      grid-template-columns: 1fr 0.5fr 1fr;
      grid-template-areas: "whoare  toolsimg1  whatare" "veiwsimg1 gapfil metaimg1" "whenlaunch timewaitimg1  wherelaunch";
}

.service-section p {
  font-size: 1.3rem;
  color: #a9a8a8;
}

.whoare {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: whoare;
  padding: 0px 30px 0px 0px;
}

.toolsimg {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: toolsimg1;
  padding: 120px 40px 0px;
  margin: 0 auto;
}

.whatare {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: whatare;
  padding: 0px 0px 0px 30px;
}

.veiwsimg {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: veiwsimg1;
  padding: 20px 40px 100px;
  margin: 5% auto;
}

.metaimg {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: metaimg1;
  padding: 20px 40px 100px;
  margin: 5% auto;
}

.whenlaunch {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: whenlaunch;
  padding: 0px 30px 0px 0px;
}

.timewaitimg {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: timewaitimg1;
  padding: 45px;
  margin: 0 auto;
}

.wherelaunch {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: wherelaunch;
  padding: 0px 0px 0px 30px;
}

.gapfil {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: gapfil;
}

@media only screen and (max-width: 736px) {
  .service-section {
    padding: 15px 20px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "whoare" "veiwsimg1" "whatare" "toolsimg1" "whenlaunch" "timewaitimg1" "wherelaunch" "metaimg1";
  }
  .service-section p {
    font-size: 1.5rem;
    color: #a9a8a8;
  }
  .veiwsimg {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: veiwsimg1;
    padding: 15px 30px 45px;
    margin: 5% 0%;
  }
  .toolsimg {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: toolsimg1;
    padding: 15px 30px 45px;
    margin: 5% 0%;
  }
  .timewaitimg {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    grid-area: timewaitimg1;
    padding: 15px 30px 45px;
    margin: 5% 0%;
  }
  .metaimg {
    -ms-grid-row: 8;
    -ms-grid-column: 1;
    grid-area: metaimg1;
    padding: 15px 30px 45px;
    margin: 5% 0%;
  }
  .whoare {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: whoare;
    padding: 40px 0px 0px;
  }
  .whatare {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: whatare;
    padding: 0px;
  }
  .whenlaunch {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: whenlaunch;
    padding: 0px;
  }
  .wherelaunch {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    grid-area: wherelaunch;
    padding: 0px;
  }
}

@media only screen and (min-width: 765px) and (max-width: 1024px) {
  img.abut-img {
    height: 66rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.direction {
  position: relative;
  text-align: center;
  padding: 290px 20px;
}

.directionimg {
  position: absolute;
  width: 320px;
  height: 320px;
  left: 40%;
  top: 35%;
  background: rgba(14, 10, 10, 0);
  border-radius: 50%;
  -webkit-box-shadow: inset 0 0 0 6px #ed1b24;
          box-shadow: inset 0 0 0 6px #ed1b24;
}

.cs1::before {
  font-size: 65px;
  position: absolute;
  top: 15%;
  left: 87%;
  -webkit-transform: rotate(245deg);
          transform: rotate(245deg);
}

.cs2::before {
  font-size: 65px;
  position: absolute;
  top: 89%;
  left: 45%;
  -webkit-transform: rotate(350deg);
          transform: rotate(350deg);
}

.cs3::before {
  font-size: 65px;
  position: absolute;
  top: 30%;
  left: -3%;
  -webkit-transform: rotate(100deg);
          transform: rotate(100deg);
}

.directionimg {
  font-size: 60px;
  position: absolute;
  -webkit-animation: animation 10s linear infinite;
          animation: animation 10s linear infinite;
}

@-webkit-keyframes animation {
  0% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  25% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  35% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  50% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  75% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  100% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
}

@keyframes animation {
  0% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  25% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  35% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  50% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  75% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  100% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
}

.directionimg:hover {
  font-size: 60px;
  position: absolute;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  /* animation: animation 10s linear infinite; */
}

img.directionimg1 {
  position: absolute;
  top: 15%;
  left: 48%;
  -webkit-transform: translate(57%, 28%);
          transform: translate(57%, 28%);
  -webkit-animation: animationimg1 10s linear infinite;
          animation: animationimg1 10s linear infinite;
}

@-webkit-keyframes animationimg1 {
  0% {
    -webkit-transform: translate(52%, 28%);
            transform: translate(52%, 28%);
  }
  50% {
    -webkit-transform: translate(62%, 28%);
            transform: translate(62%, 28%);
  }
  100% {
    -webkit-transform: translate(52%, 28%);
            transform: translate(52%, 28%);
  }
}

@keyframes animationimg1 {
  0% {
    -webkit-transform: translate(52%, 28%);
            transform: translate(52%, 28%);
  }
  50% {
    -webkit-transform: translate(62%, 28%);
            transform: translate(62%, 28%);
  }
  100% {
    -webkit-transform: translate(52%, 28%);
            transform: translate(52%, 28%);
  }
}

img.directionimg2 {
  position: absolute;
  top: 59%;
  left: 23%;
  -webkit-transform: translate(25%, 10%);
          transform: translate(25%, 10%);
  -webkit-animation: animationimg2 10s linear infinite;
          animation: animationimg2 10s linear infinite;
}

@-webkit-keyframes animationimg2 {
  0% {
    -webkit-transform: translate(22%, 10%);
            transform: translate(22%, 10%);
  }
  50% {
    -webkit-transform: translate(28%, 20%);
            transform: translate(28%, 20%);
  }
  100% {
    -webkit-transform: translate(22%, 10%);
            transform: translate(22%, 10%);
  }
}

@keyframes animationimg2 {
  0% {
    -webkit-transform: translate(22%, 10%);
            transform: translate(22%, 10%);
  }
  50% {
    -webkit-transform: translate(28%, 20%);
            transform: translate(28%, 20%);
  }
  100% {
    -webkit-transform: translate(22%, 10%);
            transform: translate(22%, 10%);
  }
}

img.directionimg3 {
  position: absolute;
  right: -5%;
  top: 57%;
  -webkit-transform: translate(-25%, 20%);
          transform: translate(-25%, 20%);
  -webkit-animation: animationimg3 10s linear infinite;
          animation: animationimg3 10s linear infinite;
}

@-webkit-keyframes animationimg3 {
  0% {
    -webkit-transform: translate(-22%, 15%);
            transform: translate(-22%, 15%);
  }
  50% {
    -webkit-transform: translate(-28%, 25%);
            transform: translate(-28%, 25%);
  }
  100% {
    -webkit-transform: translate(-22%, 15%);
            transform: translate(-22%, 15%);
  }
}

@keyframes animationimg3 {
  0% {
    -webkit-transform: translate(-22%, 15%);
            transform: translate(-22%, 15%);
  }
  50% {
    -webkit-transform: translate(-28%, 25%);
            transform: translate(-28%, 25%);
  }
  100% {
    -webkit-transform: translate(-22%, 15%);
            transform: translate(-22%, 15%);
  }
}

img.directionimg4 {
  position: absolute;
  top: 50%;
  left: 53%;
  width: 115px;
  -webkit-transform: translate(18%, -25%);
          transform: translate(18%, -25%);
}

p.staking {
  position: absolute;
  top: 42%;
  left: 21%;
  -webkit-transform: translate(25px, 15px);
          transform: translate(25px, 15px);
  -webkit-animation: staking 10s linear infinite;
          animation: staking 10s linear infinite;
}

@-webkit-keyframes staking {
  0% {
    -webkit-transform: translate(25px, 15px);
            transform: translate(25px, 15px);
  }
  50% {
    -webkit-transform: translate(25px, 25px);
            transform: translate(25px, 25px);
  }
  100% {
    -webkit-transform: translate(25px, 15px);
            transform: translate(25px, 15px);
  }
}

@keyframes staking {
  0% {
    -webkit-transform: translate(25px, 15px);
            transform: translate(25px, 15px);
  }
  50% {
    -webkit-transform: translate(25px, 25px);
            transform: translate(25px, 25px);
  }
  100% {
    -webkit-transform: translate(25px, 15px);
            transform: translate(25px, 15px);
  }
}

p.upgading {
  position: absolute;
  top: 42%;
  left: 90%;
  -webkit-transform: translate(0%, 10%);
          transform: translate(0%, 10%);
  -webkit-animation: upgading 10s linear infinite;
          animation: upgading 10s linear infinite;
}

@-webkit-keyframes upgading {
  0% {
    -webkit-transform: translate(0%, 10%);
            transform: translate(0%, 10%);
  }
  50% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  100% {
    -webkit-transform: translate(0%, 10%);
            transform: translate(0%, 10%);
  }
}

@keyframes upgading {
  0% {
    -webkit-transform: translate(0%, 10%);
            transform: translate(0%, 10%);
  }
  50% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  100% {
    -webkit-transform: translate(0%, 10%);
            transform: translate(0%, 10%);
  }
}

p.coversion {
  bottom: 19%;
  position: absolute;
  left: 46%;
  -webkit-transform: translate(65%, -5%);
          transform: translate(65%, -5%);
  -webkit-animation: coversion 10s linear infinite;
          animation: coversion 10s linear infinite;
}

@-webkit-keyframes coversion {
  0% {
    -webkit-transform: translate(65%, -5%);
            transform: translate(65%, -5%);
  }
  50% {
    -webkit-transform: translate(75%, -5%);
            transform: translate(75%, -5%);
  }
  100% {
    -webkit-transform: translate(65%, -5%);
            transform: translate(65%, -5%);
  }
}

@keyframes coversion {
  0% {
    -webkit-transform: translate(65%, -5%);
            transform: translate(65%, -5%);
  }
  50% {
    -webkit-transform: translate(75%, -5%);
            transform: translate(75%, -5%);
  }
  100% {
    -webkit-transform: translate(65%, -5%);
            transform: translate(65%, -5%);
  }
}

.tokenomics-section {
  padding-top: 120px;
}

@media only screen and (max-width: 420px) {
  .tokenomics-section {
    padding-top: 10px;
  }
  .cs1::before {
    font-size: 55px;
    position: absolute;
    top: 15%;
    left: 87%;
    -webkit-transform: rotate(245deg);
            transform: rotate(245deg);
  }
  .cs2::before {
    font-size: 55px;
    position: absolute;
    top: 87%;
    left: 50%;
    -webkit-transform: rotate(348deg);
            transform: rotate(348deg);
  }
  .cs3::before {
    font-size: 55px;
    position: absolute;
    top: 30%;
    left: -4%;
    -webkit-transform: rotate(100deg);
            transform: rotate(100deg);
  }
  .direction {
    position: relative;
    text-align: center;
    padding: 230px 5px;
    margin: 35px 5px;
  }
  .directionimg {
    position: absolute;
    width: 240px;
    height: 240px;
    left: 15%;
    top: 20%;
    background: rgba(14, 10, 10, 0);
    border-radius: 50%;
    -webkit-box-shadow: inset 0 0 0 6px #ed1b24;
            box-shadow: inset 0 0 0 6px #ed1b24;
  }
  img.directionimg2 {
    position: absolute;
    width: 65px;
    top: 63%;
    left: 0%;
    -webkit-transform: translate(20%, 10%);
            transform: translate(20%, 10%);
    -webkit-animation: animationimg2 10s linear infinite;
            animation: animationimg2 10s linear infinite;
  }
  img.directionimg3 {
    position: absolute;
    width: 65px;
    right: 2%;
    top: 58%;
    -webkit-transform: translate(-25%, 20%);
            transform: translate(-25%, 20%);
    -webkit-animation: animationimg3 10s linear infinite;
            animation: animationimg3 10s linear infinite;
  }
  img.directionimg1 {
    position: absolute;
    width: 65px;
    top: -5%;
    left: 28%;
    -webkit-transform: translate(60%, 25%);
            transform: translate(60%, 25%);
    -webkit-animation: animationimg1 10s linear infinite;
            animation: animationimg1 10s linear infinite;
  }
  img.directionimg4 {
    position: absolute;
    width: 85px;
    top: 43%;
    left: 33%;
    -webkit-transform: translate(13%, -30%);
            transform: translate(13%, -30%);
  }
  p.staking {
    position: absolute;
    top: 23%;
    font-size: 16px;
    left: -4%;
    -webkit-transform: translate(25px, 15px);
            transform: translate(25px, 15px);
    -webkit-animation: staking 10s linear infinite;
            animation: staking 10s linear infinite;
  }
  p.upgading {
    position: absolute;
    top: 23%;
    font-size: 16px;
    left: 73%;
    -webkit-transform: translate(0%, 10%);
            transform: translate(0%, 10%);
    -webkit-animation: upgading 10s linear infinite;
            animation: upgading 10s linear infinite;
  }
  p.coversion {
    bottom: 13%;
    position: absolute;
    font-size: 16px;
    left: 25%;
    -webkit-transform: translate(65%, -5%);
            transform: translate(65%, -5%);
    -webkit-animation: coversion 10s linear infinite;
            animation: coversion 10s linear infinite;
  }
  .MetriRUST {
    padding-top: 40px;
  }
}

@media only screen and (min-width: 420px) and (max-width: 540px) {
  .tokenomics-section {
    padding-top: 10px;
  }
  .cs1::before {
    font-size: 55px;
    position: absolute;
    top: 15%;
    left: 87%;
    -webkit-transform: rotate(245deg);
            transform: rotate(245deg);
  }
  .cs2::before {
    font-size: 55px;
    position: absolute;
    top: 87%;
    left: 50%;
    -webkit-transform: rotate(348deg);
            transform: rotate(348deg);
  }
  .cs3::before {
    font-size: 55px;
    position: absolute;
    top: 30%;
    left: -4%;
    -webkit-transform: rotate(100deg);
            transform: rotate(100deg);
  }
  .direction {
    position: relative;
    text-align: center;
    padding: 230px 5px;
    margin: 35px 5px;
  }
  .directionimg {
    position: absolute;
    width: 240px;
    height: 240px;
    left: 15%;
    top: 20%;
    background: rgba(14, 10, 10, 0);
    border-radius: 50%;
    -webkit-box-shadow: inset 0 0 0 6px #ed1b24;
            box-shadow: inset 0 0 0 6px #ed1b24;
  }
  img.directionimg2 {
    position: absolute;
    width: 65px;
    top: 63%;
    left: 0%;
    -webkit-transform: translate(20%, 10%);
            transform: translate(20%, 10%);
    -webkit-animation: animationimg2 10s linear infinite;
            animation: animationimg2 10s linear infinite;
  }
  img.directionimg3 {
    position: absolute;
    width: 65px;
    right: 10%;
    top: 56%;
    -webkit-transform: translate(-25%, 20%);
            transform: translate(-25%, 20%);
    -webkit-animation: animationimg3 10s linear infinite;
            animation: animationimg3 10s linear infinite;
  }
  img.directionimg1 {
    position: absolute;
    width: 65px;
    top: -8%;
    left: 28%;
    -webkit-transform: translate(60%, 25%);
            transform: translate(60%, 25%);
    -webkit-animation: animationimg1 10s linear infinite;
            animation: animationimg1 10s linear infinite;
  }
  img.directionimg4 {
    position: absolute;
    width: 85px;
    top: 42%;
    left: 32%;
    -webkit-transform: translate(13%, -30%);
            transform: translate(13%, -30%);
  }
  p.staking {
    position: absolute;
    top: 23%;
    font-size: 16px;
    left: -4%;
    -webkit-transform: translate(25px, 15px);
            transform: translate(25px, 15px);
    -webkit-animation: staking 10s linear infinite;
            animation: staking 10s linear infinite;
  }
  p.upgading {
    position: absolute;
    top: 23%;
    font-size: 16px;
    left: 68%;
    -webkit-transform: translate(0%, 10%);
            transform: translate(0%, 10%);
    -webkit-animation: upgading 10s linear infinite;
            animation: upgading 10s linear infinite;
  }
  p.coversion {
    bottom: 13%;
    position: absolute;
    font-size: 16px;
    left: 25%;
    -webkit-transform: translate(65%, -5%);
            transform: translate(65%, -5%);
    -webkit-animation: coversion 10s linear infinite;
            animation: coversion 10s linear infinite;
  }
  .MetriRUST {
    padding-top: 40px;
  }
}

@media only screen and (min-width: 540px) and (max-width: 736px) {
  .tokenomics-section {
    padding-top: 10px;
  }
  .cs1::before {
    font-size: 55px;
    position: absolute;
    top: 15%;
    left: 87%;
    -webkit-transform: rotate(245deg);
            transform: rotate(245deg);
  }
  .cs2::before {
    font-size: 55px;
    position: absolute;
    top: 87%;
    left: 50%;
    -webkit-transform: rotate(348deg);
            transform: rotate(348deg);
  }
  .cs3::before {
    font-size: 55px;
    position: absolute;
    top: 30%;
    left: -4%;
    -webkit-transform: rotate(100deg);
            transform: rotate(100deg);
  }
  .direction {
    position: relative;
    text-align: center;
    padding: 230px 5px;
    margin: 35px 5px;
  }
  .directionimg {
    position: absolute;
    width: 240px;
    height: 240px;
    left: 15%;
    top: 20%;
    background: rgba(14, 10, 10, 0);
    border-radius: 50%;
    -webkit-box-shadow: inset 0 0 0 6px #ed1b24;
            box-shadow: inset 0 0 0 6px #ed1b24;
  }
  img.directionimg2 {
    position: absolute;
    width: 65px;
    top: 62%;
    left: 1%;
    -webkit-transform: translate(20%, 10%);
            transform: translate(20%, 10%);
    -webkit-animation: animationimg2 10s linear infinite;
            animation: animationimg2 10s linear infinite;
  }
  img.directionimg3 {
    position: absolute;
    width: 65px;
    right: 28%;
    top: 56%;
    -webkit-transform: translate(-25%, 20%);
            transform: translate(-25%, 20%);
    -webkit-animation: animationimg3 10s linear infinite;
            animation: animationimg3 10s linear infinite;
  }
  img.directionimg1 {
    position: absolute;
    width: 68px;
    top: -7%;
    left: 24%;
    -webkit-transform: translate(60%, 25%);
            transform: translate(60%, 25%);
    -webkit-animation: animationimg1 10s linear infinite;
            animation: animationimg1 10s linear infinite;
  }
  img.directionimg4 {
    position: absolute;
    width: 85px;
    top: 41%;
    left: 28%;
    -webkit-transform: translate(12%, -20%);
            transform: translate(12%, -20%);
  }
  p.staking {
    position: absolute;
    top: 23%;
    font-size: 16px;
    left: -4%;
    -webkit-transform: translate(25px, 15px);
            transform: translate(25px, 15px);
    -webkit-animation: staking 10s linear infinite;
            animation: staking 10s linear infinite;
  }
  p.upgading {
    position: absolute;
    top: 24%;
    font-size: 16px;
    left: 58%;
    -webkit-transform: translate(0%, 10%);
            transform: translate(0%, 10%);
    -webkit-animation: upgading 10s linear infinite;
            animation: upgading 10s linear infinite;
  }
  p.coversion {
    bottom: 13%;
    position: absolute;
    font-size: 16px;
    left: 22%;
    -webkit-transform: translate(65%, -5%);
            transform: translate(65%, -5%);
    -webkit-animation: coversion 10s linear infinite;
            animation: coversion 10s linear infinite;
  }
  .MetriRUST {
    padding-top: 40px;
  }
}

@media only screen and (min-width: 765px) and (max-width: 1024px) {
  .directionimg {
    position: absolute;
    width: 290px;
    height: 290px;
    left: 6%;
    top: 35%;
    background: rgba(14, 10, 10, 0);
    border-radius: 50%;
    -webkit-box-shadow: inset 0 0 0 6px #ed1b24;
            box-shadow: inset 0 0 0 6px #ed1b24;
  }
  p.upgading {
    position: absolute;
    font-size: 20px;
    top: 37%;
    left: 83%;
    -webkit-transform: translate(0%, 10%);
            transform: translate(0%, 10%);
    -webkit-animation: upgading 10s linear infinite;
            animation: upgading 10s linear infinite;
  }
  p.staking {
    position: absolute;
    font-size: 20px;
    top: 37%;
    left: 14%;
    -webkit-transform: translate(25px, 15px);
            transform: translate(25px, 15px);
    -webkit-animation: staking 10s linear infinite;
            animation: staking 10s linear infinite;
  }
  p.coversion {
    bottom: 39%;
    position: absolute;
    font-size: 20px;
    left: 20%;
    -webkit-transform: translate(65%, -5%);
            transform: translate(65%, -5%);
    -webkit-animation: coversion 10s linear infinite;
            animation: coversion 10s linear infinite;
  }
  .cs2::before {
    font-size: 70px;
    position: absolute;
    top: 87%;
    left: 52%;
    -webkit-transform: rotate(348deg);
            transform: rotate(348deg);
  }
  img.directionimg1 {
    position: absolute;
    top: 28%;
    width: 55px;
    left: 29%;
    -webkit-transform: translate(60%, 25%);
            transform: translate(60%, 25%);
    -webkit-animation: animationimg1 10s linear infinite;
            animation: animationimg1 10s linear infinite;
  }
  img.directionimg2 {
    position: absolute;
    top: 52%;
    width: 55px;
    left: 0%;
    -webkit-transform: translate(20%, 10%);
            transform: translate(20%, 10%);
    -webkit-animation: animationimg2 10s linear infinite;
            animation: animationimg2 10s linear infinite;
  }
  img.directionimg3 {
    position: absolute;
    width: 55px;
    right: 0%;
    top: 49%;
    -webkit-transform: translate(-25%, 20%);
            transform: translate(-25%, 20%);
    -webkit-animation: animationimg3 10s linear infinite;
            animation: animationimg3 10s linear infinite;
  }
  img.directionimg4 {
    position: absolute;
    width: 90px;
    top: 44%;
    left: 33%;
    -webkit-transform: translate(13%, -30%);
            transform: translate(13%, -30%);
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  p.upgading {
    position: absolute;
    top: 42%;
    left: 97%;
    -webkit-transform: translate(0%, 10%);
            transform: translate(0%, 10%);
    -webkit-animation: upgading 10s linear infinite;
            animation: upgading 10s linear infinite;
  }
  p.staking {
    position: absolute;
    top: 42%;
    left: 18%;
    -webkit-transform: translate(25px, 15px);
            transform: translate(25px, 15px);
    -webkit-animation: staking 10s linear infinite;
            animation: staking 10s linear infinite;
  }
  p.coversion {
    bottom: 24%;
    position: absolute;
    left: 49%;
    -webkit-transform: translate(40%, 13%);
            transform: translate(40%, 13%);
    -webkit-animation: coversion 10s linear infinite;
            animation: coversion 10s linear infinite;
  }
  img.directionimg1 {
    position: absolute;
    top: 17%;
    left: 49%;
    -webkit-transform: translate(28%, -20%);
            transform: translate(28%, -20%);
    -webkit-animation: animationimg1 10s linear infinite;
            animation: animationimg1 10s linear infinite;
  }
  img.directionimg2 {
    position: absolute;
    top: 57%;
    left: 19%;
    -webkit-transform: translate(20%, 10%);
            transform: translate(20%, 10%);
    -webkit-animation: animationimg2 10s linear infinite;
            animation: animationimg2 10s linear infinite;
  }
  img.directionimg3 {
    position: absolute;
    right: -14%;
    top: 57%;
    -webkit-transform: translate(-25%, 20%);
            transform: translate(-25%, 20%);
    -webkit-animation: animationimg3 10s linear infinite;
            animation: animationimg3 10s linear infinite;
  }
  img.directionimg4 {
    position: absolute;
    top: 48%;
    width: 115px;
    left: 55%;
    -webkit-transform: translate(16%, -23%);
            transform: translate(16%, -23%);
  }
}

.matrics-section {
  padding-top: 120px;
}

.matrics-section p {
  margin-bottom: 0px;
}

.matrics-section h4 {
  margin-bottom: 8px;
}

.matrics-section h5 {
  margin-bottom: 15px;
}

.matrics-section th, .matrics-section td {
  color: #c7c7c7;
}

.matrics-section .table > :not(caption) > * > * {
  padding: 0.5rem 1.5rem;
  background-color: #00090e;
  border-bottom-width: 1px;
  -webkit-box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
          box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}

.matrics-section .rifgt {
  text-align: right;
}

.matrics-section .rustsec {
  position: relative;
}

.matrics {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr  1fr;
      grid-template-areas: 'rustsec1 rustsec2';
}

.rustsec1 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: rustsec1;
}

.rustsec2 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: rustsec2;
}

.matricsOil {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr  1fr;
      grid-template-areas: 'rustsec2 rustsec1';
}

.rustsec1 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: rustsec1;
}

.rustsec2 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: rustsec2;
}

img.rustimg1 {
  position: absolute;
  top: 50%;
  left: 45%;
  width: 125px;
  -webkit-transform: translate(-55%, -50%);
          transform: translate(-55%, -50%);
}

img.rustimg2 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 125px;
  -webkit-transform: translate(-15%, -28%);
          transform: translate(-15%, -28%);
}

img.rustimg3 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 125px;
  -webkit-transform: translate(-66%, -50%);
          transform: translate(-66%, -50%);
}

img.rustimg {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-animation: rustimg 10s linear infinite;
          animation: rustimg 10s linear infinite;
}

@-webkit-keyframes rustimg {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes rustimg {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@media only screen and (max-width: 540px) {
  .matrics-section {
    padding-top: 10px;
  }
  .matrics {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
        grid-template-areas: 'rustsec1' 'rustsec2';
  }
  .rustsec1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: rustsec1;
  }
  .rustsec2 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: rustsec2;
  }
  .matricsOil {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
        grid-template-areas: 'rustsec1' 'rustsec2';
  }
  .rustsec1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: rustsec1;
  }
  .rustsec2 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: rustsec2;
  }
  img.rustimg1 {
    position: absolute;
    top: 32%;
    left: 32%;
    width: 80px;
    -webkit-transform: translate(10%, 10%);
            transform: translate(10%, 10%);
  }
  img.rustimg2 {
    position: absolute;
    top: 40%;
    left: 35%;
    width: 80px;
    -webkit-transform: translate(60%, 2%);
            transform: translate(60%, 2%);
  }
  img.rustimg3 {
    position: absolute;
    top: 20%;
    left: 32%;
    width: 90px;
    -webkit-transform: translate(15%, 10%);
            transform: translate(15%, 10%);
  }
}

@media only screen and (min-width: 540px) and (max-width: 736px) {
  .matrics {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
        grid-template-areas: 'rustsec1' 'rustsec2';
  }
  .rustsec1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: rustsec1;
  }
  .rustsec2 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: rustsec2;
  }
  .matricsOil {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
        grid-template-areas: 'rustsec1' 'rustsec2';
  }
  .rustsec1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: rustsec1;
  }
  .rustsec2 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: rustsec2;
  }
  img.rustimg1 {
    position: absolute;
    top: 33%;
    left: 35%;
    width: 85px;
    -webkit-transform: translate(8%, 18%);
            transform: translate(8%, 18%);
  }
  img.rustimg2 {
    position: absolute;
    top: 46%;
    left: 41%;
    width: 85px;
    -webkit-transform: translate(60%, 2%);
            transform: translate(60%, 2%);
  }
  img.rustimg3 {
    position: absolute;
    top: 33%;
    left: 35%;
    width: 85px;
    -webkit-transform: translate(8%, 18%);
            transform: translate(8%, 18%);
  }
}

@media only screen and (min-width: 765px) and (max-width: 912px) {
  img.rustimg1 {
    position: absolute;
    top: 18%;
    left: 30%;
    width: 75px;
    -webkit-transform: translate(20%, -18%);
            transform: translate(20%, -18%);
  }
  img.rustimg2 {
    position: absolute;
    top: 18%;
    left: 45%;
    width: 80px;
    -webkit-transform: translate(10%, 10%);
            transform: translate(10%, 10%);
  }
  img.rustimg3 {
    position: absolute;
    top: 18%;
    left: 30%;
    width: 75px;
    -webkit-transform: translate(20%, -18%);
            transform: translate(20%, -18%);
  }
}

@media only screen and (min-width: 912px) and (max-width: 1024px) {
  .directionimg {
    position: absolute;
    width: 275px;
    height: 275px;
    left: 5%;
    top: 35%;
    background: rgba(14, 10, 10, 0);
    border-radius: 50%;
    -webkit-box-shadow: inset 0 0 0 6px #ed1b24;
            box-shadow: inset 0 0 0 6px #ed1b24;
  }
  img.directionimg1 {
    position: absolute;
    top: 25%;
    left: 20%;
    -webkit-transform: translate(30%, -10%);
            transform: translate(30%, -10%);
    /* animation: animationimg1 10s linear infinite; */
  }
  img.rustimg1 {
    position: absolute;
    top: 18%;
    left: 30%;
    width: 75px;
    -webkit-transform: translate(20%, -18%);
            transform: translate(20%, -18%);
  }
  img.rustimg2 {
    position: absolute;
    top: 18%;
    left: 45%;
    width: 80px;
    -webkit-transform: translate(10%, 10%);
            transform: translate(10%, 10%);
  }
  img.rustimg3 {
    position: absolute;
    top: 18%;
    left: 30%;
    width: 75px;
    -webkit-transform: translate(20%, -18%);
            transform: translate(20%, -18%);
  }
  img.directionimg2 {
    position: absolute;
    top: 57%;
    left: 0%;
    -webkit-transform: translate(20%, 10%);
            transform: translate(20%, 10%);
    -webkit-animation: animationimg2 10s linear infinite;
            animation: animationimg2 10s linear infinite;
  }
  img.directionimg3 {
    position: absolute;
    right: 33%;
    top: 56%;
    -webkit-transform: translate(-25%, 20%);
            transform: translate(-25%, 20%);
    -webkit-animation: animationimg3 10s linear infinite;
            animation: animationimg3 10s linear infinite;
  }
  p.staking {
    position: absolute;
    top: 34%;
    left: -8%;
    -webkit-transform: translate(25px, 15px);
            transform: translate(25px, 15px);
    -webkit-animation: staking 10s linear infinite;
            animation: staking 10s linear infinite;
  }
  p.upgading {
    position: absolute;
    top: 35%;
    left: 56%;
    -webkit-transform: translate(0%, 10%);
            transform: translate(0%, 10%);
    -webkit-animation: upgading 10s linear infinite;
            animation: upgading 10s linear infinite;
  }
  img.directionimg4 {
    position: absolute;
    top: 45%;
    width: 90px;
    left: 25%;
    -webkit-transform: translate(2%, -20%);
            transform: translate(2%, -20%);
  }
  p.coversion {
    bottom: 32%;
    position: absolute;
    left: 13%;
    -webkit-transform: translate(15%, 5%);
            transform: translate(15%, 5%);
    -webkit-animation: coversion 10s linear infinite;
            animation: coversion 10s linear infinite;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  img.rustimg1 {
    position: absolute;
    top: 44%;
    left: 28%;
    width: 115px;
    -webkit-transform: translate(28%, -45%);
            transform: translate(28%, -45%);
  }
  img.rustimg2 {
    position: absolute;
    top: 50%;
    left: 38%;
    width: 115px;
    -webkit-transform: translate(48%, -35%);
            transform: translate(48%, -35%);
  }
  img.rustimg3 {
    position: absolute;
    top: 5%;
    left: 45%;
    width: 125px;
    -webkit-transform: translate(-40%, 55%);
            transform: translate(-40%, 55%);
    -webkit-transition: 0.25s;
    transition: 0.25s;
  }
}
/*# sourceMappingURL=App.css.map */